<html>

<head></head>

<body>
    <p>
        {% set total = 0 %}
        Cart:<br>
        {% if items %}
        {% for i in range((items|length)) %}
        Before : {{total}}
        {% set total = total + (prices[i] * quantities[i]) %}
        After : {{total}}
        --
        ${{prices[i]}} {{items[i]}} (x{{quantities[i]}})
    <form id="cart" method="POST" action="/order_more">
        <input type="number" id="quantity" name="quantity" min="1" max="99" value="1"><br>
        <input type="submit" value="Change Quanitiy">
    </form>
    <form id="remove_item" method="POST" action="/remove_item">
        <input type="hidden" id="delete_this" name="delete_this" value={{items[i]}}>
        <input type="submit" value="Remove Item">
    </form>
    Total:<br>
    {{ total }}
    <br>
    {% endfor %}
    {% else %}
    <p>Nothing added to cart</p>
    {% endif %}
    Total:
    {{ total }}
    </p>
    <form id="cart" method="POST" action="/order_more">
        <input type="submit" value="Order More">
    </form>
    <form id="cart" method="POST" action="/clear_cart">
        <input type="submit" value="Clear Cart">
    </form>
</body>

</html>