<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wok Express | PTC</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='style.css' ) }} />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
</head>


<body>
    <div class="loader">
        <marquee scrollamount="10" direction="right">Wok Express | Wok Express |
            Wok Express | Wok Express | Wok Express
        </marquee>
        <marquee scrollamount="30" direction="left">Wok Express | Wok Express |
            Wok Express | Wok Express | Wok Express
        </marquee>
        <marquee scrollamount="20" direction="right">Wok Express | Wok Express |
            Wok Express | Wok Express | Wok Express
        </marquee>
        <marquee scrollamount="40" direction="">Wok Express | Wok Express |
            Wok Express | Wok Express | Wok Express
        </marquee>
        <div class="intro">
            <h1 class="intro-title">Wok Express</h1>
        </div>
    </div>

    <div class="container">
        <div class="logo">wok express</div>
        <div class="container-left">
            <div class="lang">
                <img src="/static/wok-sticker-new.png" class="img" />
            </div>
            <div class="left-img-cap">
                Best Food <br />
                <span>Great Value,</span>
            </div>
            <div class="container-left-img"></div>
            <div class="left-img-btn">View Menu</div>
            <div class="left-bottom-text">
                /Peachtree City
            </div>

            <div class="social-media">
                <ul>
                    <li>
                        <a href="#">
                            <ion-icon name="call-outline"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="compass-outline"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon name="share-social-outline"></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-right">
            <div class="right-upper-text">
                Dine in and <span>take out delivery.</span>
            </div>
            <div class="right-bottom-text">
                <a href="order">Order Now</a>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='main.js')}}"></script>

</html>