<html>

<head></head>

<body>
    <form id="add_item" method="POST" action="/add_item">
        <h4>Soup</h4>
        <input type="hidden" id="food_item" name="food_item" value="Soup">
        <label>Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="99" value="1">
        <input type="submit" value="Add to Cart">
    </form>
    <form id="add_item" method="POST" action="/add_item">
        <h4>Meal</h4>
        <input type="hidden" id="food_item" name="food_item" value="Meal">
        <label>Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="99" value="1">
        <input type="submit" value="Add to Cart">
    </form>
    <form id="add_item" method="POST" action="/add_item">
        <h4>Drink</h4>
        <input type="hidden" id="food_item" name="food_item" value="Drink">
        <label>Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="99" value="1">
        <input type="submit" value="Add to Cart">
    </form>
    <h4>View Cart:</h4>
    <form id="cart" method="POST" action="/cart">
        <input type="hidden" id="cart" name="cart" value="{{ cart }}">
        <input type="submit" value="Cart">
    </form>


    <p>
        Number of Items in cart: {{ cart | length }}
    </p>
</body>

</html>